@using PracticaWeb.Models;
@model PaginatedList<Productos>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <h1>Productos</h1>
    <form asp-action="Index" method="get">
        <div class="form-actions row">
            <div class="col-3">
                Buscar: <input class="form-control" type="text" name="busqueda" value="@ViewData["Filtro"]" />
            </div>
            <div class="col-6">
                <label>Tipo:</label>
                <select name="tipo" class="form-control" asp-items="@ViewBag.Tipos">
                </select>
            </div>
            <div class="col-3">
                <label>&ensp;</label>
                <input type="submit" value="Busqueda" class="btn btn-secondary" />
                <a class="btn btn-danger" asp-action="Index">Limpiar Filtro</a>
            </div>
        </div>
    </form>
    <br />
</div>
<br />
<div class="container card">
    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index">Nombre</a>
                </th>
                <th>
                    <a asp-action="Index">Clave</a>
                </th>
                <th>
                    <a asp-action="Index">Precio</a>
                </th>
                <th style="width:15%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clave)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td style="display:block;align-content:space-evenly">
                        <a asp-action="Edit" asp-route-id="@item.ID_Producto" class="btn btn-warning" >Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID_Producto" class="btn btn-danger">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p style="display:flex;justify-content:flex-end">
        <a asp-action="Crear" class="btn btn-primary">Agregar Producto</a>
    </p>

    @{
        var prevDeshabilitado = !Model.HasPreviousPage ? "disabled" : "";
        var sigDeshabilitado = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="row" style="display:flex;justify-content:center">
        <div class="col-6" style="display:flex;justify-content:center">
            <a asp-action="Index"
               asp-route-columna="@ViewData["OrdenActual"]"
               asp-route-pagina="@(Model.PageIndex - 1)"
               asp-route-busqueda="@ViewData["Filtro"]"
               class="btn btn-default btn-primary @prevDeshabilitado">
                Anterior
            </a>
        </div>
        <div class="col-6" style="display:flex;justify-content:center">
            <a asp-action="Index"
               asp-route-columna="@ViewData["OrdenActual"]"
               asp-route-pagina="@(Model.PageIndex + 1)"
               asp-route-busqueda="@ViewData["Filtro"]"
               class="btn btn-default btn-primary @sigDeshabilitado">
                Siguiente
            </a>
        </div>
        <p></p>
    </div>

</div>
