@model PracticaWeb.Models.PrecioProveedores

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar</h1>

<h3>Esta seguro que quiere borrar este registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Proveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaveProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaveProveedor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID_Precio" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-controller="Productos" asp-action="Index" class="btn btn-primary">Volver</a>
    </form>
</div>
